body {
  background-color: lightsteelblue;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2 {
  display: flex;
  justify-content: center;
  background-color: orange;
  color: white;
  border-radius: 8px;

  padding: 15px;
}


button {
  width: 300px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  background-color: rgb(0, 139, 79);
  border-radius: 16px;
  padding: 16px;
  color: white;
  border: none;
  font-size: 20px;

}


p {
  background: rgb(2, 60, 187);
  padding: 15px;
  border-radius: 8px;
  color: white;
  width: 600px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}